.buttonWrapper {
  margin: 0 auto;
}

.button {
  background-color: #4d4de0;
  color: white;
  border: none;
  transition: background-color 250ms;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #35359c;
}
